{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Recenzja list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idrecenzja</th>
                <th>Tresc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('recenzja_show', { 'id': entity.idrecenzja }) }}">{{ entity.idrecenzja }}</a></td>
                <td>{{ entity.tresc }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('recenzja_show', { 'id': entity.idrecenzja }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('recenzja_edit', { 'id': entity.idrecenzja }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('recenzja_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
