{% extends '::base.html.twig' %}

{% block body -%}
    <h1>KsiazkaAutor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idksiazkaautor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ksiazkaautor_show', { 'id': entity.idksiazkaautor }) }}">{{ entity.idksiazkaautor }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ksiazkaautor_show', { 'id': entity.idksiazkaautor }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ksiazkaautor_edit', { 'id': entity.idksiazkaautor }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ksiazkaautor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
