{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Autor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idautor</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('autor_show', { 'id': entity.idautor }) }}">{{ entity.idautor }}</a></td>
                <td>{{ entity.imie }}</td>
                <td>{{ entity.nazwisko }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('autor_show', { 'id': entity.idautor }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('autor_edit', { 'id': entity.idautor }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('autor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
