{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UzytkownikOcenaFilm list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Iduzocfi</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('uzytkownikocenafilm_show', { 'id': entity.idUzocfi }) }}">{{ entity.idUzocfi }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('uzytkownikocenafilm_show', { 'id': entity.idUzocfi }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('uzytkownikocenafilm_edit', { 'id': entity.idUzocfi }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('uzytkownikocenafilm_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
