{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rezyser list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idrezyser</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rezyser_show', { 'id': entity.idrezyser }) }}">{{ entity.idrezyser }}</a></td>
                <td>{{ entity.imie }}</td>
                <td>{{ entity.nazwisko }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rezyser_show', { 'id': entity.idrezyser }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('rezyser_edit', { 'id': entity.idrezyser }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('rezyser_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
