{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rezyser</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idrezyser</th>
                <td>{{ entity.idrezyser }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ entity.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ entity.nazwisko }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rezyser') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('rezyser_edit', { 'id': entity.idrezyser }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
