{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gra list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idgra</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gra_show', { 'id': entity.idgra }) }}">{{ entity.idgra }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gra_show', { 'id': entity.idgra }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gra_edit', { 'id': entity.idgra }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('gra_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
