{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gatunek</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idgatunek</th>
                <td>{{ entity.idgatunek }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ entity.nazwa }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gatunek') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gatunek_edit', { 'id': entity.idgatunek }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
