{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Deweloper</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Iddeweloper</th>
                <td>{{ entity.iddeweloper }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ entity.nazwa }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('deweloper') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('deweloper_edit', { 'id': entity.iddeweloper }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
